
body {
	background-image: url(images/sunset.jpg);
	background-repeat: no-repeat;
	background-position: center;
	}

a {
	color: #ffffff;
	text-decoration:none;
	}
	
ul {
	margin:0;
	}
	
article {
	width:275px;
	background-color: #fff9f1;
	border: 2px solid #ff9600;
	border-top-width: 8px;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	}
	
#titleblock li {
	float: left;
	padding-right:40px;
	text-decoration:none;
	font-family: ariel, helvetica, sans-setif;
	list-style-type:none;
	}
	

	
#bodycontainer {
	width:600px;
	height:725px;
	margin-left:auto;
	margin-right:auto;
	}
		
	
	
	
	
	
#titleblock {
	
	}
	
#title {
	background-color: #73410f;
	height: 55px;
	width: 600px;
	color: #f5ad00;
	font-family: ariel, helvetica, sans-serif;
	font-size: 2em;
	text-align: center;
	margin: 0;
	padding-top: 20px;
	}
	
	
	
	
#topmenubar {
	height: 21px;
	width: 600px;
	padding-top: 4px;
	background-color: #3b2000;
	color: #ffffff;
	margin:0;
	}
	
	
/*
#titleblock {
	background-color: #73410f;
	width: 600px;
	height: 75px;
	color: #f5ad00;
	font-family: ariel, helvetica, sans-setif;
	font-size: 2em
	}
	
#title {
	height: 30px;
	width: 500px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	margin-top: 20px;
	}
*/



#contentblock {
	width:600px;
	height:600px;
	clear:both;
	}

#leftcolumn {
	width: 150px;
	}
	
#image1 {
	background-image: url(images/orange1.jpg);
	width: 150px;
	height: 150px;
	}
	
#image2 {
	background-image: url(images/orange2.png);
	width: 150px;
	height: 150px;
	}
	
#image3 {
	background-image: url(images/orange3.jpg);
	width: 150px;
	height: 150px;
	}
	
#image4 {
	background-image: url(images/orange5.jpg);
	width: 150px;
	height: 150px;
	}
	
#centercolumn {
	width: 300px;
	}
	
#rightcolumn {
	width: 150px;
	}
	
#image5 {
	background-image: url(images/orange6.jpg);
	width: 150px;
	height: 150px;
	}
	
#image6 {
	background-image: url(images/orange7.jpg);
	width: 150px;
	height: 150px;
	}
	
#image7 {
	background-image: url(images/orange8.gif);
	width: 150px;
	height: 150px;
	}
	
#image8 {
	background-image: url(images/orange9.jpg);
	width: 150px;
	height: 150px;
	}
	
#footer {
	width:600px;
	height: 21px;
	padding-top: 4px;
	font-family: ariel, helvetica, sans-setif;
	background-color: #d38600;
	color: #ffffff;
	clear:both;
	text-align: center;
	}
	










.column {
	height:600px;
	background-color: #fff1cf;
	float:left;
	}
	
	
.image {
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center;